<div class="addProfile">
    <h4 class="addProfile__title">Ajouter un profil</h4>
    <form class="addProfile__form">
        <input required class="addProfile__input" type="text" name="name" placeholder="Nom du profil">
        <input required class="addProfile__input" type="text" name="avatar" placeholder="Nom du fichier de l'avatar du profil">
        <input required class="addProfile__input" type="number" name="min_age" placeholder="Restriction d'âge du profil">
        <input class="addProfile__button" onclick="{{handler}}" type="button" value="Ajouter" name="todo">
    </form>
</div>