@layer reset, variables, components, utilities;

@import "./reset.css" layer(reset);
@import "./variables.css" layer(variables);
@import "./utilities.css" layer(utilities);

@import "../component/Profiles/style.css" layer(components);
@import "../component/NavBar/style.css" layer(components);
@import "../component/Categories/style.css" layer(components);
@import "../component/Cards/style.css" layer(components);
@import "../component/NoMovie/style.css" layer(components);
@import "../component/MovieDetail/style.css" layer(components);

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--ff-nunito);
    color: var(--color-text);
    background: var(--color-bg);
}

header{
    width: 100%;
}

.card__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-inline: 0.5rem;
}