@import url('https://db.onlinewebfonts.com/c/d6ae884b0a2f1a5346717fc160db2d28?family=Roobert');

:root {
  /* Primitive Tokens */
  --color-black: hsl(253, 69%, 8%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 80%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 0%, 20%);

  --color-darker-blue: #020b26;
  --color-dark-blue: #001039;
  --color-gray-blue: #232E50;

  --color-red: #FF4942;


  --ff-roobert: "Roobert", sans-serif;

  --fs-1: 1rem;
  --fs-2: 1.5rem;
  --fs-3: 0.80rem;
  --fs-4: 2rem;
  --fs-5: 3rem;
  --fs-6: 1.25rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /* Sementic Tokens */
  --color-text: var(--color-white);
  --color-bg: var(--color-darker-blue);
}
