<div class="addMovie">
    <h4 class="addMovie__title">Ajouter un film</h4>
    <form class="addMovie__form">
        <input required class="addMovie__input" type="text" name="name" placeholder="Titre du film">
        <input required class="addMovie__input" type="number" name="year" placeholder="Année de sortie du film">
        <input required class="addMovie__input" type="number" name="length" placeholder="Durée (en min) du film">
        <textarea required class="addMovie__input" type="text" name="description" placeholder="Description du film"></textarea>
        <input required class="addMovie__input" type="text" name="director" placeholder="Réalisateur du film">
        <select required class="addMovie__input" name="id_category">
            <option value="">Sélectionnez la catégorie</option>
            <option value="1">Action</option>
            <option value="2">Comédie</option>
            <option value="3">Drame</option>
            <option value="4">Science-fiction</option>
            <option value="5">Animation</option>
            <option value="6">Thriller</option>
            <option value="7">Horreur</option>
            <option value="8">Aventure</option>
            <option value="9">Fantaisie</option>
            <option value="10">Documentaire</option>
            <option value="11">Romance</option>
        </select>
        <input required class="addMovie__input" type="text" name="image" placeholder="Nom du fichier de l'affiche du film">
        <input required class="addMovie__input" type="text" name="trailer" placeholder="URL du trailer du film">
        <input required class="addMovie__input" type="number" name="min_age" value="3" placeholder="Restriction d'âge du film" min="3" max="21">
        <input class="addMovie__button" onclick="{{handler}}" type="button" value="Ajouter" name="todo">
    </form>
</div>