.category{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 1rem;
}

.category__title{
    width: 100%;
    padding-left: 0.5rem
}

.category__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    scrollbar-color: var(--color-blue) var(--color-dark-blue);
}

@media screen and (min-width : 50rem){
    .category__cards{
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}