.MovieDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
}

.MovieDetail__card{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.MovieDetail__imgcont{
    width: 23.75rem;
}

.MovieDetail__cardcap{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 0.5rem;
}
    
.MovieDetail__title{
    font-size: var(--fs-2);
    font-weight: var(--fw-600);
    color: var(--color-white);
}

.MovieDetail__director{
    font-size: var(--fs-3);
    font-weight: var(--fw-600);
    color: var(--color-gray-light);
}

.MovieDetail__infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-top: -0.5rem;
    gap: 0.5rem;
}

.MovieDetail__info{
    font-size: var(--fs-3);
    font-weight: var(--fw-5500);
    color: var(--color-gray-light);
}

.MovieDetail__text{
    margin-block: 0.5rem;
}

.MovieDetail__trailer{
    margin-top: 1rem;
}