<section class="MovieDetail">
    <figure class="MovieDetail__card">
        <div class="MovieDetail__imgcont">
            <img class="MovieDetail__img" src="https://mmi.unilim.fr/~regaudie4/SAE2.03-regaudie/server/images/{{image}}" alt="Affiche du film"/>
        </div>
        <figcaption class="MovieDetail__cardcap">
            <h4 class="MovieDetail__title">{{titre}}</h4>
            <h3 class="MovieDetail__director">{{realisateur}}</h3>
        </figcaption>
    </figure>
    <ul class="MovieDetail__infos">
        <li class="MovieDetail__info">
            {{annee}}
        </li>
        <li class="MovieDetail__info">
            {{categorie}}
        </li>
        <li class="MovieDetail__info">
            {{age}}
        </li>
        <li class="MovieDetail__info">
            {{duree}}
        </li>
    </ul>
    <p class="MovieDetail__text">
        {{description}}
    </p>
    {{trailer}}
</section>