.card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 10rem;
    height: fit-content;
    margin: 1rem;
    border: solid var(--color-dark-blue) 2px;
    border-radius: 15px;
    overflow: hidden;
}

.card__imgcont{
    object-fit: cover;
}

.card__text{
    width: 100%;
    height: fit-content;
    padding: 0.25rem;
    text-align: center;
    background-color: var(--color-dark-blue);
}

.card__title{
    font-size: var(--fs-1);
    font-weight: var(--fw-600);
}

.card:hover{
    border: solid var(--color-white) 2px;
    color: var(--color-dark-blue);

    .card__text{
        background-color: var(--color-white);
    };
}