.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1rem ;
  color: var(--color-fg);
  background-color: var(--color-dark-blue);

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }
}

.navbar__logo{
  width: 2rem;
}

.navbar__list{
  margin-left: 0rem;
}

.navbar__profiles{
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  color: var(--color-white);
  font-family: var(--ff-nunito);
  font-size: var(--fs-1);
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-blue);
}

.navbar__profiles:focus{
  outline: none;
}

.navbar__profilename{

}



@media screen and (min-width : 50rem){
  .navbar{
    font-size: var(--fs-2);
  }

  .navbar__list{
    margin-left: 2rem;
  }

  .navbar__logo{
    width: 8rem;
  }

  .navbar__profiles{
    top: 3rem;
    right: 5rem;
    font-size: var(--fs-2);
    padding: 0.25rem 0.5rem;
  }
}